<section id="seccion">
    <!--<p>contacto</p>-->

    <!--<p>{{usuario.nombre}}</p>-->
        
        <p>Variable: {{variable}}</p>
        <p>Nombre {{nombre}}</p>
        <p>Edad: {{edad}}</p>
        <p>Sueldo: {{sueldos[0]}}, {{sueldos[1]}}, {{sueldos[2]}}</p>
        <p>{{1+1}}</p>
        <p>{{esActivo()}}</p>
        <p>Suma de los sueldos: {{UltimoSueldo()}}</p>
        <p>Sueldo: {{sueldos[0] + sueldos[1] + sueldos[2]}}</p>
        <p>Puedes visitar el sitio ingresado <a href="{{sitio}}">aqui</a></p>
    
</section>
