<section id="seccion">
    <article>
        <header>
            <h1>Titulo del mensaje uno</h1>
            <h2>Subtitulo del mensaje uno</h2>

            <p>publicado 10-12-2021</p>
        </header>
        Este es el texto de el primer mensaje
    </article>

    <article>
        <header>
            <h1>Titulo del mensaje dos</h1>
            <h2>Subtitulo del mensaje dos</h2>
        
            <p>publicado 20-12-2021</p>
        </header>
        Este es el texto de mi primer mensaje
    </article>
</section>
