* {
    margin: 5px;
    padding: 0px;
    }

    h1 {
    font: bold 20px verdana, sans-serif;
    }
    h2 {
    font: bold 14px verdana, sans-serif;
    }

    body {
    text-align: center;
    
    }

    .menu_bar{
    display:name;
    }

    #agrupar{
    width: 100%;
    margin: 15px auto;
    text-align: left;
    }

    #cabecera {
    background: #FFF889;
    border: 1px solid #999999;
    padding: 20px;
    text-shadow: rgba(0.0.0.0.5) 3px 3px 5px;
    }

    #menu {
    background: #CCCCCC;
    padding: 5px 15px;
    }
    #menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    }

    #seccion {
    float: left;
    width: 70%;
    margin: 20px; 
    }
    #columna {
    float: left;
    width: 20%;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC; 
    }

    #pie {
        clear: both;
        text-align: center;
        padding: 20px;
        border-top: 2px solid #999999;
    }

    article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;

    -moz-border-radius: 20px;
    -webkit-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow:  rgb(150,150,150) 5px 5 px 10px;
    -webkit-box-shadow:  rgb(150,150,150) 5px 5px 10px;
    box-shadow: rgb(150,150,150) 5px 5px 10px;
}

article footer {
text-align: right;
}
figcaption {
font: italic 14px vendana, sans-serif;
}

@media screen and (max-width: 800){
    #menu{
        width: 80%;
        height: 100%;
        left: 100%;
        margin: 0;
        position: fixed;
    }
    
    #menu_li {
        display: block;
        float: hone;
        border-bottom: 1px solid  rgba(255,255, 255, .9)
    }

    .menu_bar{
    display: block;
    width: 100%;
    background: #CCC;
    }

    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
    }
}