<nav id="menu">
    <ul>
        <li>
        <a [routerLink]="['/home']"> principal</a>
        </li>
        <li>
        <a [routerLink]="['/pagina']"> pagina</a>
        </li>
        <li>
        <a [routerLink]="['/formulario']"> formulario</a>
        </li>
        <li>
        <a [routerLink]="['/contacto']"> contacto</a>
        </li>
        <li>
        <a [routerLink]="['/blog']"> blog</a>
        </li>
        <li>
        <a [routerLink]="['/tabla']"> tablas</a>
        </li>
        <li>
        <a [routerLink]="['/calculadora']"> Calculadora</a>
        </li>

    </ul>
</nav>
